.mainOverlay{
  display: flex;
  height: 100vh;
  background-color: rgba(195, 206, 206, 0.452);
}

.menuIcon{
  font-size: 35px;
  cursor: pointer;
  height: fit-content;
  display: none;
  background-color: rgb(195, 206, 206);
}

.mainContentWrapper{
  width: 80%;
  display: flex;
}

.mainContent{
  padding: 10px;
  flex-grow: 1;
}

@media only screen and (max-width: 414px) {
  .mainOverlay{
    flex-direction: column;
  }

  .menuIcon{
    display: flex;
  }

  .mainContentWrapper{
    width: 100%;
  }
}